<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-one-dark.min.css" integrity="sha512-c6S8OdtvoqZCbMfA1lWE0qd368pLdFvVHVILQzNizfowC+zV8rmVKdSlmL5SuidvATO0A7awDg53axd+s/9amw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      margin: 0;
    }

    article {
      max-width: 900px;
    }

    main {
      padding: 1em;
    }

    header ul > li {
      display: inline-block;
    }

    ul.links > li:not(:last-child)::after {
      content: '/';
      padding-left: 0.5em;
      padding-right: 0.2em;
    }

    ul.links {
      display: inline;
      padding-left: 0.5em;
    }

    .markdown-body code br {
      display: initial;
    }

    nav.toc {
      border: 1px solid gray;
      padding-top: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 1em;
      padding-left: 1em;
      width: fit-content;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      min-height: 100vh;
    }

    span.title {
      font-size: 30px;
    }

    span.creator {
      display: block;
    }

    .docs-navigation {
      padding-top: 1em;
    }

    .docs-navigation span.next-post {
      float: right;
    }

    .article-title {
      border: none !important;
    }

    footer {
      height: 100px;
      display: flex;
      align-items: center;
    }
  </style>
  <title>{{ title }}</title>
</head>
<body>
  <div class="wrapper markdown-body">
    <main>
      <header>
        <span class="title">RTCEngine {{ pkg.version }}</span>
        <ul class="links">
          <li><a href="/docs">사용법</a></li>
          <li><a href="/demo">데모</a></li>
          <li><a href="/reference">API 레퍼런스</a></li>
          <li><a href="https://github.com/Quasar-Kim/rtc-engine">Github</a></li>
        </ul>
        <span class="creator">Made with ❤ by Quasar-Kim</span>
      </header>

      {% set previousPost = collections.doc | getPreviousCollectionItem(page)  %}
      {% set nextPost = collections.doc | getNextCollectionItem(page) %}

      <div class="docs-navigation">
        {% if previousPost %}
        <span>
          ⬅<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </span>
        {% endif %}
        {% if nextPost %}
        <span class="next-post">
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>➡
        </span>
        {% endif %}
      </div>

      <article>
        <h1 class="article-title">{{ title }}</h1>
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {{ content | toc | safe }}
        {{ content | safe }}
      </article>

      <div class="docs-navigation">
        {% if previousPost %}
        <span>
          ⬅<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </span>
        {% endif %}
        {% if nextPost %}
        <span class="next-post">
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>➡
        </span>
        {% endif %}
      </div>

      <footer>
        <span>©2022 Quasar-Kim. 이 사이트는 <a href="https://11ty.dev">11ty</a>와 <a href="https://esdoc.org">esdoc</a>을 사용해 만들어졌습니다.</span>
      </footer>
    </main>
  </div>
</body>
</html>